header::after{
    display: block;
    clear: both;
    content: "";
}
.i18n_btn{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.i18n_btn.active{
    color: red;
}

.content{
    border: solid 1px red;
    padding: 40px ;
}

input{
    display: block;
    margin: 10px 0;
}


/* 中英文样式 */
.i18n-cn{
    color: blue;
}
.i18n-en{
    color: red;
}